<partial name="_BannerPartial"></partial>

<div class="container">

    <div class="row">

        
          <div class="col-md-3">

           <vc:categories></vc:categories>


        </div>

        <div class="col-md-9">

           <vc:products category-id="ViewBag.CategoryId"></vc:products>


        </div>

    </div>

</div>

